.hidden {
  display: none;
}
.opacity {
  opacity: 0;
}

.d-flex {
  display: flex;
}

.show {
  position: absolute;
}

.svg-image {
  position: relative;
  opacity: 0.5;
  fill: rgb(83, 109, 109);
}
.price {
  font-size: 24px;
}

.skin-img {
}
.active {
}
.bamper :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.krysha :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.proem :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.zerkalo:hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.capot :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.kromki :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.krylia :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.optika :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.porogi:hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.ptf:hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.ruchki:hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.stekla:hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.dverei :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.chast-capot :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.ch-krylia :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
.other-elem :hover {
  fill: rgb(24, 35, 57);
  cursor: cell;
}
